
/* defaults */
@import url('https://fonts.cdnfonts.com/css/sf-mono');
.jvc{padding:0;border-radius:2px;overflow:auto;white-space:pre;line-height:16px;tab-size:4;font-size:14px;font-family:'SF Mono',sans-serif}
.jvc-tabs:empty,.hljs-punctuation:empty,.jvc-value:empty,.hljs-comment:empty,.jvc-list:empty{display:none}

/* conf */
.jvc-invert{filter:invert(100%) contrast(100%) brightness(100%)}
/*.jvc-invert .jvc-no-invert{filter:invert(100%) contrast(100%) brightness(100%)}
.jvc-invert .jvc-no-invert .jvc-no-invert{filter:invert(100%) contrast(100%) brightness(100%)}*/
.jvc-no-quotes .jvc-quote{position:absolute;height:0.1px;width:0.1px;overflow:hidden}
.jvc-comment-no-select .hljs-comment{user-select:none}

/* menu */
.jvc-menu{user-select:none;float:right;position:relative;right:0;top:0;border-radius:4;border-color:rgba(255,255,255,0.2);height:20px;}

/* list */
.jvc-list{display:none;border-left:1px dotted #cbc0bc;padding-left:34.616px}
.jvc-root-list{display:block;margin:14px 0}
.jvc-toggle>.jvc-list{display:block}
.jvc-toggle:hover>.jvc-list{border-color:#818e96}
.jvc-collapsed .jvc-list{position:absolute;height:0.1px;width:0.1px;overflow:hidden;display:inline;border:none}

/* item */
.jvc-item{position:relative;display:inline}
.jvc-item:hover>.hljs-attr,
.jvc-item:hover>.hljs-punctuation,
.jvc-item:hover>.jvc-value{background-color:rgba(255,255,255,0.05)}

/* attr */
.jvc-toggle>.hljs-attr::before{position:absolute;display:inline-block;left:-23px;width:18px;height:18px;
	color:#343f43;content:"\25BC";transition:transform 0.2s;text-align:center;}
.jvc-toggle.jvc-collapsed>.hljs-attr::before{transform:rotate(-90deg)}
.jvc-toggle:hover>.hljs-attr::before{color:#818e96}

.jvc-callback>.hljs-attr::before{content:"\21BB"}
.jvc-callback.jvc-collapsed>.hljs-attr::before{transform:rotate(-360deg)}
.jvc-callback.jvc-loading>.hljs-attr::before{animation:rotation 1s infinite linear}
@keyframes rotation{from{transform:rotate(0deg)}to{transform:rotate(360deg)}}

/* ===DEV=== */
/* tabs */
.jvc-tabs{position:absolute;height:0.1px;width:0.1px;overflow:hidden}
.jvc-suffix>.jvc-tabs{display:none}
.jvc-toggle>.jvc-suffix>.jvc-tabs{display:inline}
.jvc-collapsed>.jvc-suffix>.jvc-tabs{display:none}
.jvc-collapsed .jvs-suffix>.jvc-tabs{display:none}
.jvc-collapsed>.jvc-list .jvc-tabs{display:none}

/* newlines */
.jvc-suffix>.jvc-br{display:none}
.jvc-toggle>.jvc-suffix>.jvc-br{display:inline}
.jvc-collapsed>.jvc-br{display:none}

/* comma */
.jvc-suffix>.jvc-comma,
.jvc-toggle>.jvc-comma{display:none}
.jvc-toggle>.jvc-suffix>.jvc-comma{display:inline}
.jvc-callback>.jvc-comma{display:none}
.jvc-callback>.jvc-suffix>.jvc-comma,
.jvc-callback.jvc-no-obj>.jvc-comma{display:inline}
.jvc-callback.jvc-no-obj>.jvc-suffix>.jvc-comma{display:none}
.jvc-item:last-child>.jvc-comma{display:none}
.jvc-item:last-child>.jvc-suffix>.jvc-comma{display:none}

/* spaces */
.jvc-collapsed>.jvc-list .jvc-space{display:none}
/* ===DEV=== */

/* hover */
.jvc-toggle::first-line,/* firefox workaround */
.jvc-toggle:hover>:not(.jvc-list){cursor:pointer}
.jvc-toggle:hover:not(:has(.jvc-list:hover))>.hljs-attr::before{color:#fff}
.jvc-toggle:hover:not(:has(.jvc-list:hover))>.jvc-list{border-color:#fff}

/* colors */
.jvc a{color:inherit}
.jvc-log{color:#818e96;font-style:italic;margin:14px 34.616px;background-color:rgba(255,255,255,0.05);display:block}
.jvc-fail{background-color:rgba(255,0,0,0.1)}
.jvc-fail:hover{background-color:rgba(255,0,0,0.2)!important}

/* highlight.js default colors * /
.hljs{background-color:#293134;color:#e0e2e4}
.hljs-keyword{color:#93c763;font-style:normal}
.hljs-number{color:#ffcd22}
.hljs-string{color:#ec7600}
.hljs-title{color:#dcdcaa;font-style:normal}
.hljs-comment{color:#343f43;font-style:italic}
.hljs-comment:hover{color:#818e96}
.-jvc-item:hover>.hljs-comment{color:#818e96;background-color:rgba(255,255,255,0.05)}
.-jvc-item:hover:not(:has(.jvc-list:hover))>.jvc-value>.hljs-comment{color:#818e96}
.hljs-attr{color:#678cb1}
/**/
